.blk-maintitle-para{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 37%;
    float: left;
}
.imgBoxStyle{
    position: relative;
    padding-left: 60%;
    padding-top: 2%;
}
.imgStyle{
width: 12cm;
height: 15cm;
border-radius: 10%;
z-index: 0;
}
.mainTitle{
width: 17cm;
height: 1cm;
font-weight: bold;
text-align: center;
margin-top: 30px;
}
.para{
    text-align: center;
    margin-top: 150px;
    font-size: 40px;
}